.admonition-title {
    /* Greater emphasis on tip, warning, etc. labels */
    font-weight: bold !important;
}

section {
    /* Disable highlighting of linked to section */
    --color-highlight-on-target: var(--color-background-primary)
}

div[class*=" highlight-"],
div[class^="highlight-"] {
    /* Indent code-blocks */
    margin-left: 1em;
}

/* Prompt character in console code blocks */
.gp {
    color: var(--color-link);
}

/** :align: center does not align the table itself */
.image-buttons {
    text-align: center !important;
}

/** Erase default borders */
.image-buttons>tbody>tr>td {
    vertical-align: top;
    width: 150px;
    border: 0px !important;
}
