.admonition-title {
    /* Greater emphasis on tip, warning, etc. labels */
    font-weight: bold !important;
}

section {
    /* Disable highlighting of linked to section */
    --color-highlight-on-target: var(--color-background-primary)
}

div[class*=" highlight-"],
div[class^="highlight-"] {
    /* Indent code-blocks */
    margin-left: 1em;
}
